.overview {
    padding: 100px 0;
    background: var(--black-bg-color);

    @include tablet {
        text-align: center;
    }

    @include mobile {
        padding: 60px 0;
    }

    &__title {
        max-width: 816px;
        margin-bottom: 24px;
        font-weight: 600;
        letter-spacing: -0.04em;
        color: #fff;
    }

    &__descr {
        margin-bottom: 80px;
        max-width: 660px;
        font-weight: 500;
        line-height: 1.5;
        color: #7e8492;

        @include tablet {
            margin-bottom: 60px;
        }

        @include small-mobile {
            margin-bottom: 50px;
        }
    }


    &__list {
        @include flex-all-center-between;
        flex-wrap: wrap;
        gap: 56px;

        @include tablet {
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }

    &__item {
        max-width: 453px;

        &-icon,
        &-title {
            margin-bottom: 24px;

            @include tablet {
                margin-bottom: 18px;
            }
        }

        &-title {
            max-width: 262px;
            font-weight: 600;
            line-height: 1.3125;
            letter-spacing: -0.03em;
            color: #fff;

            @include mobile {
                max-width: 320px;
            }
        }

        &-descr {
            font-weight: 500;
            line-height: 1.625;
            color: #7e8492;
        }
    }

    &__title,
    &__descr,
    &__item-title {

        @include tablet {
            margin-right: auto;
            margin-left: auto;
        }
    }
}