<section class="hero">
    <div class="container">
        <h2 class="hero__title heading-h1">Contact our team to find out more</h2>
        <div class="hero__container">
            <div id="#map" class="hero__map">
                <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/v3/?apikey=6a1cc93d-0263-42c8-8b07-608965ef1230&lang=ru_RU">
                </script>
            </div>
            <ul class="hero__contacts">
                <li class="hero__contacts-item">
                    <h3 class="hero__contacts-item-title text-p-large">Support</h3>
                    <p class="hero__contacts-item-descr text-p-default">
                        Our friendly team is here to help.
                    </p>
                    <a href="mailto:support@sans.com" class="hero__contacts-item-link text-p-default">
                        support@sans.com
                    </a>
                </li>
                <li class="hero__contacts-item">
                    <h3 class="hero__contacts-item-title text-p-large">Sales</h3>
                    <p class="hero__contacts-item-descr text-p-default">
                        Questions or queries? Get in touch!
                    </p>
                    <a href="mailto:sales@sans.com" class="hero__contacts-item-link text-p-default">
                        sales@sans.com
                    </a>
                </li>
                <li class="hero__contacts-item">
                    <h3 class="hero__contacts-item-title text-p-large">Phone</h3>
                    <p class="hero__contacts-item-descr text-p-default">
                        Mon-Fri from 8am to 5pm.
                    </p>
                    <a href="tel:+14353457655" class="hero__contacts-item-link text-p-default">
                        +1 (435) 345-7655
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>