<div class="articles">
    <div class="articles__container container">
        <div class="articles__head">
            <div class="articles__text">
                <h2 class="articles__title heading-h2">
                    Articles
                </h2>
                <p class="articles__subtitle text-p-medium">
                    Complex tech decoded by engineers, business trends analyzed by experts.
                </p>
            </div>
            <div class="articles__nav" type="button">
                <button class="articles__button-prev swiper-button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M8.73659 15.5364C8.38512 15.8879 7.81527 15.8879 7.4638 15.5364L2.0638 10.1364C1.71233 9.78491 1.71233 9.21506 2.0638 8.86359L7.4638 3.46359C7.81527 3.11212 8.38512 3.11212 8.73659 3.46359C9.08806 3.81506 9.08806 4.38491 8.73659 4.73638L4.87299 8.59999L15.3002 8.59999C15.7973 8.59999 16.2002 9.00293 16.2002 9.49999C16.2002 9.99704 15.7973 10.4 15.3002 10.4L4.87299 10.4L8.73659 14.2636C9.08806 14.6151 9.08806 15.1849 8.73659 15.5364Z"
                            fill="black" />
                    </svg>
                </button>
                <button class="articles__button-next swiper-button-next" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.26341 3.46362C9.61488 3.11214 10.1847 3.11214 10.5362 3.46362L15.9362 8.86362C16.2877 9.21509 16.2877 9.78494 15.9362 10.1364L10.5362 15.5364C10.1847 15.8879 9.61488 15.8879 9.26341 15.5364C8.91194 15.1849 8.91194 14.6151 9.26341 14.2636L13.127 10.4L2.69981 10.4C2.20275 10.4 1.7998 9.99707 1.7998 9.50001C1.7998 9.00296 2.20275 8.60001 2.69981 8.60001H13.127L9.26341 4.73641C8.91194 4.38494 8.91194 3.81509 9.26341 3.46362Z"
                            fill="black" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="articles__slider swiper">
            <div class="articles__wrapper swiper-wrapper">
                <div class="articles__slide swiper-slide">
                    <div class="articles__slide-img">
                        <img loading="lazy" src="./assets/images/blog-articles-img-1.jpg" width="405" height="577"
                            alt="" />
                    </div>
                    <h3 class="articles__slide-title heading-h5">
                        List of UX Designer Portfolio / Case Studies where you can make money
                    </h3>
                    <p class="articles__slide-text text-p-medium">
                        Here are some portfolios / Case Studies from UX Designers that you can use as a reference for
                        creating a portfolio. Two interesting things from their portfolio are:
                    </p>
                    <button class="articles__slide-button button-form">
                        Read More
                    </button>
                </div>
                <div class="articles__slide swiper-slide">
                    <div class="articles__slide-img">
                        <img loading="lazy" src="./assets/images/blog-articles-img-2.jpg" width="405" height="329"
                            alt="" />
                    </div>
                    <h3 class="articles__slide-title heading-h5">
                        Skyrocketing in The Designing Career, Why Not?
                    </h3>
                    <p class="articles__slide-text text-p-medium">
                        Ever thought of jumping into the world of design as a career? If not, you may want to look at
                        what the word ‘design’ actually means. Design is a method of designing aesthetic actions that
                        are carried out.
                    </p>
                    <button class="articles__slide-button button-form">
                        Read More
                    </button>
                </div>
                <div class="articles__slide swiper-slide">
                    <div class="articles__slide-img">
                        <img loading="lazy" src="./assets/images/blog-articles-img-3.jpg" width="476" height="695"
                            alt="" />
                    </div>
                    <h3 class="articles__slide-title heading-h5">
                        Elements that may be missed when designing the UI
                    </h3>
                    <p class="articles__slide-text text-p-medium">
                        This is an article that talks about the little elements that are often overlooked when designing
                        UI.
                    </p>
                    <button class="articles__slide-button button-form">
                        Read More
                    </button>
                </div>
                <div class="articles__slide swiper-slide">
                    <div class="articles__slide-img">
                        <img loading="lazy" src="./assets/images/blog-articles-img-1.jpg" width="405" height="577"
                            alt="" />
                    </div>
                    <h3 class="articles__slide-title heading-h5">
                        List of UX Designer Portfolio / Case Studies where you can make money
                    </h3>
                    <p class="articles__slide-text text-p-medium">
                        Here are some portfolios / Case Studies from UX Designers that you can use as a reference for
                        creating a portfolio. Two interesting things from their portfolio are:
                    </p>
                    <button class="articles__slide-button button-form">
                        Read More
                    </button>
                </div>
                <div class="articles__slide swiper-slide">
                    <div class="articles__slide-img">
                        <img loading="lazy" src="./assets/images/blog-articles-img-2.jpg" width="405" height="329"
                            alt="" />
                    </div>
                    <h3 class="articles__slide-title heading-h5">
                        Skyrocketing in The Designing Career, Why Not?
                    </h3>
                    <p class="articles__slide-text text-p-medium">
                        Ever thought of jumping into the world of design as a career? If not, you may want to look at
                        what the word ‘design’ actually means. Design is a method of designing aesthetic actions that
                        are carried out.
                    </p>
                    <button class="articles__slide-button button-form">
                        Read More
                    </button>
                </div>
                <div class="articles__slide swiper-slide">
                    <div class="articles__slide-img">
                        <img loading="lazy" src="./assets/images/blog-articles-img-3.jpg" width="476" height="695"
                            alt="" />
                    </div>
                    <h3 class="articles__slide-title heading-h5">
                        Elements that may be missed when designing the UI
                    </h3>
                    <p class="articles__slide-text text-p-medium">
                        This is an article that talks about the little elements that are often overlooked when designing
                        UI.
                    </p>
                    <button class="articles__slide-button button-form">
                        Read More
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>