<div class="hero hero-decor">
    <div class="container">
        <h2 class="hero__title heading-h1">
            Activity & Updates
        </h2>
        <p class="hero__subtitle text-p-subtitle">
            Our biggest challenge is making sure we're always designing and building products that will help you run
            your business better
        </p>
        <ul class="hero__tabs">
            <li class="hero__tabs-item">
                <a class="hero__tabs-link hero__tabs-link--active text-p-default" href="#tab1">
                    View all
                </a>
            </li>
            <li class="hero__tabs-item">
                <a class="hero__tabs-link text-p-default" href="#tab2">
                    Design
                </a>
            </li>
            <li class="hero__tabs-item">
                <a class="hero__tabs-link text-p-default" href="#tab3">
                    Articles
                </a>
            </li>
            <li class="hero__tabs-item">
                <a class="hero__tabs-link text-p-default" href="#tab4">
                    Product
                </a>
            </li>
            <li class="hero__tabs-item">
                <a class="hero__tabs-link text-p-default" href="#tab5">
                    Software Development
                </a>
            </li>
            <li class="hero__tabs-item">
                <a class="hero__tabs-link text-p-default" href="#tab6">
                    Customer Success
                </a>
            </li>
        </ul>

        <div class="hero__tab-content hero__tab-content--show" id="tab1">
            <div class="hero__slider swiper">
                <div class="hero__wrapper swiper-wrapper">
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-1.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Practice making User Flow
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            In this article, we'll cover how to create user flows
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-2.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Overview of the Design Principles
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            What are Design Principles?… To understand design principles, we first discuss the principles. 
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-3.jpg" width="379" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Using Grid in website design
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            Andi: "What's the grid like?" Toni: “Like below…”
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-1.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Practice making User Flow
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            In this article, we'll cover how to create user flows
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-2.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Overview of the Design Principles
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            What are Design Principles?… To understand design principles, we first discuss the principles. 
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-3.jpg" width="379" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Using Grid in website design
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            Andi: "What's the grid like?" Toni: “Like below…”
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__tab-content" id="tab2">
            <div class="hero__slider swiper">
                <div class="hero__wrapper swiper-wrapper">
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-3.jpg" width="379" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Using Grid in website design
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            Andi: "What's the grid like?" Toni: “Like below…”
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-2.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Overview of the Design Principles
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            What are Design Principles?… To understand design principles, we first discuss the principles. 
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-1.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Practice making User Flow
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            In this article, we'll cover how to create user flows
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-1.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Practice making User Flow
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            In this article, we'll cover how to create user flows
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-2.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Overview of the Design Principles
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            What are Design Principles?… To understand design principles, we first discuss the principles. 
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-3.jpg" width="379" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Using Grid in website design
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            Andi: "What's the grid like?" Toni: “Like below…”
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__tab-content" id="tab3">
            <div class="hero__slider swiper">
                <div class="hero__wrapper swiper-wrapper">
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-2.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Overview of the Design Principles
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            What are Design Principles?… To understand design principles, we first discuss the principles. 
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-3.jpg" width="379" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Using Grid in website design
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            Andi: "What's the grid like?" Toni: “Like below…”
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-1.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Practice making User Flow
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            In this article, we'll cover how to create user flows
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-1.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Practice making User Flow
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            In this article, we'll cover how to create user flows
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-2.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Overview of the Design Principles
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            What are Design Principles?… To understand design principles, we first discuss the principles. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__tab-content" id="tab4">
            <div class="hero__slider swiper">
                <div class="hero__wrapper swiper-wrapper">
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-2.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Overview of the Design Principles
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            What are Design Principles?… To understand design principles, we first discuss the principles. 
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-1.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Practice making User Flow
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            In this article, we'll cover how to create user flows
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-1.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Practice making User Flow
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            In this article, we'll cover how to create user flows
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-3.jpg" width="379" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Using Grid in website design
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            Andi: "What's the grid like?" Toni: “Like below…”
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-2.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Overview of the Design Principles
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            What are Design Principles?… To understand design principles, we first discuss the principles. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__tab-content" id="tab5">
            <div class="hero__slider swiper">
                <div class="hero__wrapper swiper-wrapper">
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-1.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Practice making User Flow
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            In this article, we'll cover how to create user flows
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-2.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Overview of the Design Principles
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            What are Design Principles?… To understand design principles, we first discuss the principles. 
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-3.jpg" width="379" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Using Grid in website design
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            Andi: "What's the grid like?" Toni: “Like below…”
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-1.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Practice making User Flow
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            In this article, we'll cover how to create user flows
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__tab-content" id="tab6">
            <div class="hero__slider swiper">
                <div class="hero__wrapper swiper-wrapper">
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-3.jpg" width="379" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Using Grid in website design
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            Andi: "What's the grid like?" Toni: “Like below…”
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-1.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Practice making User Flow
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            In this article, we'll cover how to create user flows
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-2.jpg" width="515" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Overview of the Design Principles
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            What are Design Principles?… To understand design principles, we first discuss the principles. 
                        </p>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-img">
                            <img loading="lazy" src="./assets/images/blog-hero-img-3.jpg" width="379" height="428"
                            alt="" />
                        </div>
                        <p class="hero__slide-subtitle text-p-small">
                            Published in Insight Jan 30, 2021
                        </p>
                        <h3 class="hero__slide-title heading-h5">
                            Using Grid in website design
                        </h3>
                        <p class="hero__slide-text text-p-big">
                            Andi: "What's the grid like?" Toni: “Like below…”
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>