<div class="updates">
    <div class="container">
        <div class="updates__cards">
            <div class="updates__column">
                <div class="updates__card">
                    <div class="updates__img">
                        <img loading="lazy" src="./assets/images/blog-updates-img-1.jpg" width="584" height="751"
                            alt="" />
                    </div>
                    <h3 class="updates__title heading-h3">
                        How we perform long-running tasks using AWS services
                    </h3>
                    <p class="updates__text text-p-medium">
                        Webflow is web design tool as well as a hosting platform and CMS all in one. While you are
                        probably
                        familiar with all of these, they are usually entirely separate tools.
                    </p>
                </div>
                <div class="updates__card">
                    <div class="updates__img">
                        <img loading="lazy" src="./assets/images/blog-updates-img-2.jpg" width="584" height="507"
                            alt="" />
                    </div>
                    <h3 class="updates__title heading-h3">
                        How to ask when doing User Research
                    </h3>
                    <p class="updates__text text-p-medium">
                        Bro, the story is that you want to make an application for buying and selling goods on the
                        market.
                        During user research, what do you think you will ask people?
                    </p>
                </div>
            </div>
            <div class="updates__column">
                <div class="updates__card">
                    <div class="updates__img">
                        <img loading="lazy" src="./assets/images/blog-updates-img-3.jpg" width="584" height="507"
                            alt="" />
                    </div>
                    <h3 class="updates__title updates__title-3 heading-h3">
                        Layout Exploration — Simple exercise but big effect
                    </h3>
                    <p class="updates__text text-p-medium">
                        Make alternatives or other options for the design we are making.
                        For example, we are creating a website design. Then there is the testimonial section.
                    </p>
                </div>
                <div class="updates__card">
                    <div class="updates__img">
                        <img loading="lazy" src="./assets/images/blog-updates-img-4.jpg" width="584" height="751"
                            alt="" />
                    </div>
                    <h3 class="updates__title heading-h3">
                        Webflow Break the Coding Barrier
                    </h3>
                    <p class="updates__text text-p-medium">
                        Webflow is web design tool as well as a hosting platform and CMS all in one. While you are
                        probably
                        familiar with all of these, they are usually entirely separate tools.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>