.partners {
    padding: 108px 0;

    @include mobile {
        padding: 76px 0;
    }

    &__container {
        @include flex-all-center-between;
        gap: 30px;
        max-width: 1110px;

        @include small-tablet {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }

    &__title {
        font-weight: 500;
        line-height: 178%;
        color: var(--neutral-color-150);

        &-num {
            display: block;
            margin-bottom: 16px;
            font-weight: 600;
            letter-spacing: -0.04em;
            color: var(--neutral-color-100);

            @include small-mobile {
                margin-bottom: 10px;
            }
        }
    }

    &__list {
        @include flex-all-center;
        gap: 10px 30px;
        flex-wrap: wrap;

        // @include mobile {
        //     gap: 10px;
        // }

        @include mobile {
            width: 0;
            display: block;
            display: none;
            visibility: hidden;
        }
    }

    &__item {
        @include flex-all-center;
        border-radius: 16px;
        width: 160px;
        height: 90px;
        background-color: #fff;
    }

    &__slider {
        width: 0;
        display: block;
        display: none;
        visibility: hidden;

        @include mobile {
            width: 500px;
            height: 100px;
            padding: 20px;
            display: block;
            visibility: visible;
        }
    }

    &__wrapper {
        margin-top: 10px;
    }

    &__slide {
        
        &-img {
            @include flex-all-center;
            border-radius: 16px;
            width: 110px;
            height: 60px;
            background-color: #fff;
            padding: 10px 10px;

            & img {
                width: 100%;
            }
        }
    }
}