.hero {
    position: relative;
    padding: 87px 0 141px;

    @include mini-desktop {
        padding: 77px 51px;
    }

    @include mobile {
        padding: 77px 15px 0 15px;
        height: 550px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 50px;
        left: 181px;
        z-index: var(--z-index-0);
        display: inline-block;
        border-radius: 50%;
        width: 551px;
        height: 551px;
        background: #fa7515;
        opacity: 0.2;
        filter: blur(220px);

        @include mini-desktop {
            left: 80px;
            width: 325px;
            height: 325px;
        }

        @include small-tablet {
            width: 251px;
            height: 251px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        right: 0px;
        bottom: -0px;
        z-index: var(--z-index-0);
        display: inline-block;
        border-radius: 50%;
        width: 525px;
        height: 525px;
        background: var(--success-color-70);
        filter: blur(180px);
        opacity: 0.2;

        @include small-tablet {
            top: 20px;
            left: 40px;
            width: 225px;
            height: 225px;
        }
    }

    &__container {
        @include flex-justify-between;
        align-items: end;

        @include mini-desktop {
            gap: 50px;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__title {
        margin-bottom: 114px;
        font-weight: 700;
        font-size: 80px;
        line-height: 1.2;
        letter-spacing: -0.04em;
        color: var(--neutral-color-100);

        @include mini-desktop {
            margin-bottom: 74px;
        }

        @include tablet {
            font-size: 60px;
            margin-bottom: 44px;
        }

        @include mobile {
            margin-bottom: 38px;
            font-size: 48px;
        }

        @include small-mobile {
            margin-bottom: 30px;
            font-size: 38px;
        }
    }

    &__subtitle {
        margin-bottom: 69px;
    }

    &__form {
        @include flex-align-center;
        gap: 16px;

        @include mini-desktop {
            justify-content: center;
        }

        @include small-mobile {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__input {
        min-width: 280px;
        padding-bottom: 23px;
        border-bottom: 1px solid var(--neutral-color-40);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--neutral-color-100);
        background: transparent;

        @include small-tablet {
            padding-bottom: 13px;
        }

        @include mobile {
            max-width: 120px;
            min-width: 180px;
        }
    }

    &__btn {
        padding: 16px 44px;
        color: var(--neutral-color-10);
        background: var(--neutral-color-100);

        @include small-tablet {
            padding: 12px 32px;
            min-width: 120px;
        }
    }

    &__right {
        position: relative;
        margin-right: 20px;

        @include mini-desktop {
            display: none;
        }
    }

    &__sales {
        padding: 20px;
        margin-bottom: 29px;

        @include small-desktop {
            max-width: 320px;
        }

        &-img {
            @include small-desktop {
                max-width: 280px;
            }
        }

        &-title {
            margin-bottom: 16px;
            font-weight: 700;
            font-size: 20px;
            line-height: 1.5;
            letter-spacing: -0.03em;
            color: #1d1e25;
        }
    }

    &__customer {
        position: absolute;
        top: -60px;
        right: -140px;
        display: inline-block;
        padding: 15px 18px;

        @include small-desktop {
            max-width: 180px;
            top: -100px;
            right: -30px;
        }

        @include mini-desktop {
            top: 0;
            right: -100px;

        }

        &-title {
            margin-bottom: 12px;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.875;
            letter-spacing: -0.03em;
            color: #1d1e25;
        }
    }

    &__sales,
    &__customer {
        border-radius: 8px;
        box-shadow: 20px 40px 80px 0 #5960871f;
        background: #fff;
    }

    &__stats {
        border-radius: 8px;
        padding: 20px 29px;
        box-shadow: 20px 40px 80px 0 #2d33511f;
        background: #000;
        text-align: left;

        &-head {

            &-th {
                font-weight: 600;
                font-size: 14px;
                line-height: 1.42857;
                color: #5c616f;
            }
        }

        &-body {

            &-td {
                font-weight: 700;
                font-size: 20px;
                line-height: 1.3;
                color: #fff;
                white-space: nowrap;

                &:nth-child(1) {
                    padding-right: 80px;
                }
            }

            &-num {
                display: inline-block;
                margin-right: 3px;
                font-weight: 600;
                font-size: 14px;
                line-height: 1.42857;

                &--green {
                    color: #60d39c;

                    &::before {
                        content: "";
                        display: inline-block;
                        background: url('./assets/icons/arrow-green.svg');
                        width: 12px;
                        height: 12px;
                    }
                }

                &--red {
                    color: #e35454;

                    &::before {
                        content: "";
                        display: inline-block;
                        background: url('./assets/icons/arrow-red.svg');
                        width: 12px;
                        height: 12px;
                    }
                }
            }

            &-text {
                font-weight: 400;
                font-size: 14px;
                line-height: 1.57143;
                letter-spacing: -0.04em;
                color: #5c616e;
            }
        }
    }
}